
.biography-main {
 display: flex;
 justify-content: center;

}
.biography-main-tat {
 display: flex;
 margin-top: 4.5rem;
 justify-content: center;
padding: 0 2rem;
}

.biography {
        padding: 0 2rem;
        width: 100%;
        max-width: 1500px;
        margin: 0 auto;
}

.biography-leonid {
    gap: 20px;
        display: block;
        display: flex;
        flex-direction: column;
        margin-left: 2rem;
        justify-content: center;
        max-width: 800px;

}

.biography-img img{
    display: flex;
    max-width: 500px;
    background-size: cover;
    align-content: center;
    justify-content: center;
    border-radius: 5%;
}
/* .biography-img {
max-width: 80%;
background-size: cover;
} */

.biography-leonid-list {
    display: flex;
        gap: 30px;
        flex-direction: column;
        max-width: 700px;
        align-items: center;
        justify-content: center;
            margin-left: 3rem;
}

.biography-block {
    display: flex;
    margin-top: 4rem;
    justify-content: center;
    align-items: center;
    
}
.biography-block-tan {
    display: flex;
    margin-top: 4rem;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    gap: 3rem;
    
}
.biography-block-tan img{
    margin-top: 2rem;
    max-width: 90%;
    
}
.biography-block-len {
    display: flex;
    margin-top: 4rem;
    justify-content: center;
    align-items: center;
   
    
}
.biography-block p {
max-width: 600px;
    margin-right: 4rem;
}
.biography-block-tan p {
max-width: 600px;
}

.mushroom-season {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 4rem;
    margin: 0 auto;
    gap: 80px;
    margin-top: 4rem;
}

 ul {
    font-size: large;
        font-weight: bold;
        /* margin: 0 auto;
        display: flex;
        justify-content: center;
        gap: 0.3rem; */
 }

 
 .mushroom-img {
    max-width: 600px;
 }
 .mushroom-img p {
    margin-top: 3rem;
 }
 .mushroom-img img {
    border-radius: 10px;
 }
 .mushroom-title {
    gap: 20px;
    display: block;
    max-width: 600px;
    margin-top: 3rem;
 }
 .mushroom-title li {
    margin: 15px;
}

.art-room {
    margin-top: 5rem;
    display: flex;
        gap: 3rem;
    }
.biography-leonid img{
    padding: 0.4rem;
}
.biography-leonid li{
    background-color: transparent;
    display: inline-block;
    padding: 12px 18px; 
        font-weight: 500;
        display: flex;
        align-content: center;
        align-items: center;
}
.biography-leonid :hover{
   color: black;
}

.white-blok {
    background-color: white;
        margin-bottom: 4rem;
        display: flex;
        padding: 5rem;
        align-items: center;
        justify-content: space-evenly;
        font-size: large;
        text-align: center;
        flex-direction: column;
        margin-top: 4rem;
}

.white-blok-span {
    display: flex;
        align-items: center;
}
.white-blok-span img{
    gap: 20px;
        margin: 40px;
}

.white-blok-title {
        display: flex;
            align-items: center;
            margin: 0 auto;
            justify-content: center;
            margin-bottom: 2rem;
}

.grid-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 5rem;
    margin: 0 auto;
    max-width: 1200px;
}
.grid-img p{
    max-width: 500px;
}

.grid-img-img {
    border: 10px;
    border-style: solid;
    color: white;
    border-radius: 10px;
    box-shadow: rgb(145, 145, 145) 5px 5px 5px;
    margin-bottom: 1rem;
    width: 100%;
}

.grid-img-block {
    width: 100%;
}



@media screen and (min-width: 1440px) {

 

    .biography-img img {
        max-width: 500px;
    
    }
}


@media screen and (max-width: 1200px) {
   
     
.biography-leonidm li {
    font-size: 1rem;
}
.biography-leonid img {
     max-width: 18%;
}
.mushroom-season {
     gap: 1rem;
}
.biography-block p {     
margin-right: 0rem;
}

   .biography-img img {
       max-width: 100%;

   }

.mushroom-img {
    max-width: 500px;
}

.mushroom-title li {
    font-size: 0.9rem;
}
.biography-leonid li {
   font-size: 0.9rem;
}




  }

@media screen and (max-width: 768px) {
           
 .biography-leonid-list {
    
 margin-left: 0rem;
 margin-top: 2rem;
    }
    
.mushroom-season {
 flex-direction: column;
align-items: center;
}
.mushroom-img img {
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    width: 100%;
}

.biography-block-tan {

    flex-direction: column;

}
.art-room {
    flex-direction: column;
    align-items: center;
}
.art-room img{
    max-width: 90%;
}
.biography-leonid {
margin-left: 0;
}

.white-blok-span span {
    font-size: 0.8rem;
}
.white-blok-span img {
    margin: 5px;
    max-width: 50%;
    max-width: 5%;
}
.white-blok {
    padding: 1rem;
}
.grid-img {
    display: block;
    margin-top: -2rem;
    margin-bottom: 3rem;
    padding: 2rem;
}

.grid-img p {
    max-width: 500px;
    margin-bottom: 2rem;
}

.grid-img-block h5 {
    margin-bottom: 1rem;
}
    
 }