

@import url('https://fonts.googleapis.com/css2?family=Finlandica:ital,wght@0,400..700;1,400..700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Russo+One&family=Sofia+Sans+Condensed:ital,wght@0,1..1000;1,1..1000&family=Wix+Madefor+Display:wght@400..800&family=Ysabeau+SC:wght@800&display=swap');

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eff0f1;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
    /* outline: 1px solid red; */
}

.App {
  
  margin: 0 auto;
}

h1 {
  font-family: 'Merriweather', serif;
  display: flex;
    justify-content: center;
    text-align: center;
      font-family: "Montserrat", sans-serif;
}
h2 {
  font-family: 'Merriweather', serif;
  display: flex;
    justify-content: center;
    margin: 50px 0 50px 0;
    text-align: center;
      font-family: "Montserrat", sans-serif;
      padding: 1rem;
}
.title-main:hover {
  color: black;
}

.title-header {
  display: flex;
  justify-content: center;
  margin: 50px 0 50px 0;
  text-align: center;
  padding: 1rem;
  
}
.title-header span{
  font-size: 2rem;

}


.shop-cart-button {
  transition: color, transform, 500ms ease;
  cursor: pointer;
  width: 30px;
  height: 30px;
}
.shop-cart-button:hover, 
.shop-cart-button:active {
  color: #dc3d3d;
  fill: #dc3d3d;
  transform: scale(1.5);
}

.tags .shop-cart {
    padding: 1rem;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 50px rgba(5, 5, 4, 3.2);    z-index: 1;
    gap: 1rem;
    font-family: "Montserrat", sans-serif;
    padding: 3rem;
    margin: 2rem;
    max-width: 90%;
    color: #000000;
    z-index: 2;
    margin-top: -10rem;
    
}


.collection {
  & img {
    border-radius: 5%;
  }
}

.tags {
  list-style: none;
    padding: 0;
    text-align: center;
    gap: 1rem;
    justify-content: center;
    max-width: 1000px;
    padding: rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

nav:hover {
  color: white;
}

li {
  display: inline-block;
    padding: 12px 18px;
    background-color: #fff;
    border-radius: 10px;
    font-weight: 500;
    font-size: 18px;
    border: 1px solid transparent;
    transition: all 0.15s ease-in-out;
    text-decoration: none;
    color: black;

}

li:hover {
      color: white;
      font-weight: bold;
      background-color: #1d1d1d;
}

a {
  color:#000000;
  text-decoration: none;
      cursor: pointer;
        font-family: "Montserrat", sans-serif;
}

a:hover {
  color: white;
}

.main-title {
  display: flex;
  margin: 0 auto;
  padding: 50px;
}

.content {
  display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    padding: 4.5rem;
    align-items: center;

  @media (max-width: 1000px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 600px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.btn-main {
  display: inline-block;
    padding: 12px 18px;
    background-color: #fff;
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
    border: 1px solid transparent;
    transition: all 0.15s ease-in-out;
    text-decoration: none;
    color: black;
    justify-content: center;
      align-items: center;
}
.btn-main:hover {
  
    background-color: #1d1d1d;
    color: white
    
}

.collection {
  width: 100%;;
  background-color: #fff;
  padding: 30px;
  border-radius: 30px;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  display: flex;
    flex-direction: column;
    align-items: center;

  h4 {
    margin: 0;
    margin-top: 15px;
    font-size: 20px;
  font-family: "Montserrat", sans-serif;  }

  &:hover {
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
  }

  @media (max-width: 1000px) {
    width: 100%;
  }

  img {
      object-fit: cover;
      max-width: 500px;
  }

  &__big {
    height: 250px;
    width: 100%;
    border-radius: 20px;
    margin-bottom: 15px;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
  }

  &__mini {
    width: 31%;
    height: 80px;
    border-radius: 20px;
  }
}


.top {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  flex-direction: column;
}

.search-input {
  font-size: 16px;
  width: 250px;
  height: 50px;
  padding: 0 15px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  transition: all 0.15s ease-in-out;

  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.4);
  }
}

.pagination {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 40px;

  li {
    display: inline-block;
    padding: 10px 17px;
    background-color: white;
    font-size: 18px;
    border-radius: 10px;
    margin-right: 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;

    &.active {
      background-color: black;
      color: #fff;
    }
  }
}

h6 {
  font-size: 2rem;
    font-family: "Montserrat", sans-serif;
}

.search {
display: flex;
  align-items: center;
  margin: 2rem;

  margin: 0 auto;
  justify-content: center;
}











/* Модальное окно */


.wrapper {
margin: 0 auto;
  display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    padding: 1.2rem;
    align-items: center;
    max-width: 1350px;
      margin-top: 4rem;
      margin-bottom: 5rem;
}
.likes-wrapper {
margin: 0 auto;
  display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    padding: 1.2rem;
    align-items: center;
    max-width: 1350px;
align-items: stretch;  
}

.btn-x {
        position: relative;
        right: -48%;
}

.btnCircleX {
  position: relative;
    right: -50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    z-index: 10;
}

.wrapper img {
  object-fit: cover;
        max-width: 100%;
    border-radius: 10px;
    cursor: pointer;
}
.likes-images img {
  object-fit: cover;
        max-width: 100%;
    border-radius: 10px;
    cursor: pointer;
}

.likes-images {
  border-radius: 10px;
  padding: 0.6rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.05);

}


/* modal */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(27, 27, 27, 0.741);
  display: flex;
  align-items: center;
}

.overlay img {
  display: block;
      max-width: 90%;
        max-height: 90%;
        margin: 0 auto;
  filter: drop-shadow(0 0 15px rgba(244, 243, 243, 0.7));
}

.overlay>span {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  color: #ffffff;
  z-index: 999;
  cursor: pointer;
}

.overlay-arrows_left {
  display: flex;
  background-color: #6d6d6d;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  left: 0;
  z-index: 999;
}

.overlay-arrows_left svg {
  width: 50px;
  height: 50px;
}

.overlay-arrows_right svg {
  width: 50px;
  height: 50px;
}

.overlay-arrows_right {
  display: flex;
  background-color: #6d6d6d;
  justify-content: space-between;
  position: absolute;
  right: 0;
  width: 50px;
  height: 50px;
  top: 50%;
  z-index: 999;
}


.wrapper-images {
  background-color: #fff;
  padding: 1.1rem;
  border-radius: 30px;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.05);
  transition: all 0.15s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper-images h4{
margin: 0;
  margin-top: 15px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  text-align: center;

} 
  
.wrapper-images:hover {
box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
}

.x-icon {
  max-width: 4%;
}


.footer {
  margin: 0 auto;
  background-color: #0a0a0a;
  width: 100%;
  height: 100%;
}
.footer a{
  margin: 0 auto;
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
    margin-bottom: 1rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
    
}

.footer p {
  color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
    text-align: center;
  }

.footer-text {
  display: flex;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3rem;
  }
.footer-text span{
  color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    text-align: center;
  }


  /* мобильная версия */

 @media screen and (max-width: 1440px) {
 



 }

  @media screen and (max-width: 1200px) {
  
    .tags {
      display: flex;
      margin: 0 auto;
      padding: 1rem;
      text-align: center;
    }

      .btn-main {
        font-size: 1rem;
        align-content: center;
        align-items: center;
        padding: 0.9rem;
      }

      li {
        font-size: 1rem;
      }

      .art-room img {
        max-width: 50%;
      }

        .likes-wrapper {
     
          grid-template-columns: repeat(2, 1fr);
        
        }

    
 
  }


  @media screen and (max-width: 1024px) {

  .wrapper {
      margin-top: 2rem;
    }
  .title-main h1 {
    font-size: 1.5rem;  
  }

  .title-main span {
    font-size: 1rem;  
  }

  .tags a{
    font-size: 0.9rem;
    text-align: center;
  }

  .biography-leonid-list li {
    font-size: 0.8rem;
  }
.biography-leonid-list img {
  max-width: 15%;
}

.biography-block img {
  max-width: 60%;
  margin-top: 2rem;
}

.biography-block {
  flex-direction: column;
  align-items: center;
}

.biography-block-len {
  display: flex;
  margin-top: 4rem;
  justify-content: center;
  align-items: center;
}

.likes-wrapper {

  grid-template-columns: repeat(3, 1fr);

}





  }

  @media screen and (max-width: 768px) {
  .wrapper {
      grid-template-columns: 1fr 1fr;
    }
         .likes-wrapper {
    
          grid-template-columns: repeat(2, 1fr);
            margin-top: 30rem;
    
         }

    

.title-header {
  margin: 50px 0 50px 0;
}
  .tags {
        justify-content: center;
          flex-wrap: wrap;
          gap: 10px;
          margin-top: -2rem;
        }
.biography-main {
  flex-direction: column;
}
.biography-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -3rem;
}

.biography-leonid-list {

 margin-left: 0rem;
  margin-top: 2rem;
}

.biography-block img {
     max-width: 100%;
   margin-top: 2rem;
 }
.biography-main-tat {
  
  flex-direction: column;
}
  }

  @media screen and (max-width: 500px) {
    .wrapper {
        grid-template-columns: 1fr;
      }
.likes-wrapper {

  grid-template-columns: repeat(1, 1fr);
  margin-top: 75rem;

}


          
  }
  @media screen and (max-width: 350px) {
 
.likes-wrapper {

  margin-top: 35rem;

}


          
  }

 